nltk==3.7
numpy==1.22.1
pandas==1.4.1
plotly @ file:///Users/nicolas/opt/miniconda3/envs/env/conda-bld/plotly_1644431521790/work/packages/python/plotly/dist/plotly-5.6.0.tar.gz
regex==2022.3.2
streamlit==1.7.0
textblob==0.15.3
tweepy==4.6.0

